.dashboard{
    background-color: #fff !important;
    margin:50px;
    padding:30px;
}
.dash{
    background-color: #fff !important;
    margin:30px 50px;
    padding:30px;
}

.table{
    width:100%;
}