
// Body
$body-bg: #f5f8fa;

$bg: #1D4FD6;

$small: 576px;
$medium: 768px;
$large: 991px;
$desktop: 1200px;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
